<!-- Documentation Modal -->
<div class="modal fade" id="documentationModal" tabindex="-1" aria-labelledby="documentationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="documentationModalLabel">Documentation</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div>
              <h5>
                  Overview
              </h5>
              <p>Select one or more genes and conditions below to plot the expression levels. If you select one gene, a bar plot will be shown. If you select multiple genes, a heatmap will be shown.</p>
          </div>

          <div>
              <h5>
                  Selecting genes manually
              </h5>
              <p>
                  Start typing a gene name or Ensembl ID to search and add it to your selection.
              </p>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
