{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="p-5 shadow">
                <h3>Welcome to bit.bio nucleus</h3>
                <p class="mb-4 lead">
                    The bit.bio nucleus platform serves as your gateway to the forefront of biotechnological innovation and research. Here, you can seamlessly interact with the Synapse AI Assistant, view comprehensive reports, and monitor sequencing runs.
                </p>

                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Synapse AI Assistant</h5>
                        <p class="card-text">
                            Engage with Synapse Assistant to query complex data, receive analysis support, and drive insightful discussions that accelerate your research and development.
                        </p>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Comprehensive Reports</h5>
                        <p class="card-text">
                            Access detailed reports providing valuable insights into your projects. Our platform integrates data across multiple streams to present you with everything you need for your decision-making processes.
                        </p>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Sequencing Run Monitoring</h5>
                        <p class="card-text">
                            Monitor your sequencing runs in real-time. Our intuitive interface allows you to track progress, review preliminary results, and manage your experiments efficiently.
                        </p>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Future Expansions</h5>
                        <p class="card-text">
                            We are committed to continuously evolving and expanding our platform capabilities. Stay tuned for more innovative features and tools.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}

